{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

{% include 'partials/alert_messages.html' %}

{% if not basket.is_empty %}
    <div id="content-inner">
        {% block basket_form_main %}
            <form action="." method="post" class="basket_summary" id="basket_formset">
                {% csrf_token %}
                {{ formset.management_form }}

                <div class="basket-items">
                    {% for line in line_list %}
                        {% purchase_info_for_line request line as session %}
                        <p class="title">{% trans "Enroll and Pursue a Verified Certificate in" %}</p>
                        <div class="row">
                            <div class="col-sm-2 course_image">
                                {{ form.id }}
                                    <img class="thumbnail" src="{{ course.image_url }}" alt="{{ product.get_title }}"/>
                            </div>
                            <div class="col-sm-6">
                                <p class="course_name">{{ course.name }} - {{ course.org }} ({{ course.number }})</p>
                                <p class="course_description">{{ course.short_description }}</p>
                            </div>
                            {% if line.has_discount %}
                                <div class="col-sm-3 discount">
                                    {% if line.line_price_incl_tax_and_discount > 0 %}
                                        {{ line.discount_value }}
                                    {% endif %}
                                    <div class="old-price">
                                        {% if line.is_tax_known %}
                                            {{ line.line_price_incl_tax|currency:line.price_currency }}
                                        {% else %}
                                            {{ line.line_price_excl_tax|currency:line.price_currency }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-sm-1 price {% if line.has_discount %}green{% endif %}">
                                {% if line.is_tax_known %}
                                    {{ line.line_price_incl_tax_incl_discounts|currency:line.price_currency }}
                                {% else %}
                                    {{ line.line_price_excl_tax_incl_discounts|currency:line.price_currency }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        {% endblock %}

        <div class="total">
            <div class="row">
                {% block vouchers %}
                    {% if basket.contains_a_voucher %}
                        <div class="vouchers col-sm-6">
                            {% for voucher in basket.vouchers.all %}
                                <p class="voucher">
                                {% blocktrans with voucher_code=voucher.code %}
                                    Promotion code {{voucher_code}} applied
                                {% endblocktrans %}
                                </p>
                            {% endfor %}
                        </div>
                    {% else %}
                        {# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
                        {% if voucher_form %}
                            <div class="use_voucher col-sm-6">
                                <p id="voucher_form_link"><a href="#voucher">{% trans "Apply a promotion code" %}</a></p>

                                <div id="voucher_form_container">
                                    <form id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post">
                                        {% csrf_token %}
                                        <div class="code">
                                            <input id="id_code" maxlength="128" name="code" type="text" placeholder="{% trans 'enter promo code' %}">
                                            <button type="submit" class="btn btn-default" data-loading-text="{% trans 'Adding...' %}">{% trans "Apply" %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endblock vouchers %}

                {% block baskettotals %}
                    {% include 'basket/partials/basket_totals.html' with editable=1 %}
                {% endblock baskettotals %}
            </div>
        </div>

        <div class="row">
            <div class="payment-buttons col-sm-3" data-basket-id="{{ basket.id }}">
                {% for processor in payment_processors %}
                    <button class="btn btn-primary payment-button" value="{{ processor.NAME|lower }}">
                        {% if processor.NAME == 'cybersource' %}
                            {% trans "Checkout" %}
                        {% elif processor.NAME == 'paypal' %}
                            {# Translators: Do NOT translate the name PayPal. #}
                            {% trans "Checkout with PayPal" %}
                        {% endif %}
                    </button>
                {% endfor %}
            </div>
        </div>

        <div class="row verification-note">
            <span><i class="fa fa-exclamation-circle"></i></span>
            <b>{% trans "Note:" %}</b>{% trans "You will need a " %}
            <b>{% trans "webcam" %}</b>{% trans " and a " %}
            <b>{% trans "photo ID" %}</b>{% trans " to verify your identity before the course starts on " %}
            {{ course.start_display }}.
        </div>
        <div class="row help">
            <p><b>{% trans "Have questions?" %}</b></p>
            {% blocktrans with link_start='<a href="https://www.edx.org/gfa" target="_blank">' link_end='</a>' %}
                Please read {{ link_start }}our FAQs to view common questions about our certificates.{{ link_end }}
            {% endblocktrans %}
        </div>
    </div>
{% else %}
    {% block emptybasket %}
        <p>
            {% trans "Your basket is empty." %}
            <a href="{{ homepage_url }}">{% trans "Continue shopping" %}</a>
        </p>
    {% endblock %}
{% endif %}
